In [22]:
import pandas as pd
df1 = pd.DataFrame(
    [
        [1,"재석","180"]
        ,[2,"종국","160"]
        ,[3,"하하","170"]
    ]
    ,columns =["번호","이름","키"]
)

df2 = pd.DataFrame(
    [
        [1,"재석","포워드"]
        ,[2,"종국","미드밀더"]
        ,[4,"지효","수비수"]
    ]
    ,columns =["번호","이름","포지션"]
)

df3 = pd.merge(
    left=df1
    ,right=df2
    ,how="left"
    ,on=["이름"]
)

print(df3)

   번호_x  이름    키  번호_y   포지션
0     1  재석  180   1.0   포워드
1     2  종국  160   2.0  미드밀더
2     3  하하  170   NaN   NaN

In [34]:
import pandas as pd
df1 = pd.DataFrame(
    [
        ["a0","b0","c0"]
        ,["a1","b1","c1"]
        ,["a2","b2","c2"]
    ]
    ,columns=["A","B","C"]
)
df2 = pd.DataFrame(
    [
        ["aa0","b0","cc0"]
        ,["a1","b1","c1"]
        
    ] ,columns=["A","B","D"]
)
df3= pd.merge(
    left=df1,
    right=df2,
    how="outer",
      on="A"
      )
print(df3)

     A  B_x    C  B_y    D
0   a0   b0   c0  NaN  NaN
1   a1   b1   c1   b1   c1
2   a2   b2   c2  NaN  NaN
3  aa0  NaN  NaN   b0  cc0

In [15]:
import pandas as pd
sr = pd.Series([34543543,4345345,5234234,234234],
index=["서울","대전","대구","부산"])



print("서울" in sr)

True

In [21]:
import pandas as pd

s = pd.Series(
    [9904312,3448737,2890451,2466052]
    ,index=["서울","부산","인천","대구"] 
)
for k, v in s.items():
    print("%s = %d" % (k,v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [33]:
import pandas as pd
import numpy as np
df= pd.DataFrame(
    [
        [13,14,15]
        ,["s",2,3]
        ,[1,2,3]
    ]
)
df2 = pd.DataFrame(np.arange(12).reshape(3,4))

print(df[:1])

    0   1   2
0  13  14  15

In [61]:
import pandas as pd

data = {
    "국어":[80,90,70,30]
    ,"영어":[90,70,60,40]
    ,"수학":[90,60,80,70]
    
}
columns = ["국어","영어","수학"]
index = ["춘향","몽룡","향단","사오정"]
def wl():
    print("--------------------------")
df= pd.DataFrame(data,index=index,columns=columns)
matDf = df["수학"]
df["평균"] = 0
df.loc["방자"] = [0,80,0,0]
stuChunDf = df.loc[["춘향"]]
stuHyangDf = df.loc["향단"]
stuCnt = len(index)

for i in range(stuCnt):
    stu = df.iloc[i]
    df.iloc[i,3] = stu.mean()



print(df)
wl()
print(matDf)
wl()
print(StuChunDf,type(StuChunDf))
wl()
print(stuHyangDf,type(stuHyangDf ))

     국어  영어  수학    평균
춘향   80  90  90  65.0
몽룡   90  70  60  55.0
향단   70  60  80  52.5
사오정  30  40  70  35.0
방자    0  80   0   0.0
--------------------------
춘향     90
몽룡     60
향단     80
사오정    70
Name: 수학, dtype: int64
--------------------------
    국어  영어  수학  평균
춘향  80  90  90   0 <class 'pandas.core.frame.DataFrame'>
--------------------------
국어    70
영어    60
수학    80
평균     0
Name: 향단, dtype: int64 <class 'pandas.core.series.Series'>

C:\Users\kosmo\AppData\Local\Temp\ipykernel_7132\3098143913.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '52.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[i,3] = stu.mean()

In [67]:
import pandas as pd
import numpy as np

%%writefile sample6.csv
data = [    ["a1","b1","c1","d1","e1"],
    ["a2","b2","c2","d2","e2"],
    ["a3","b3","c3","d3","e3"],
    ["a4","b4","c4","d4","e4"],
    ["a5","b5","c5","d5","e5"],]
index = [1,2,3,4,5]
columns = ["a","b","c","d","e"]


df = pd.DataFrame(data,index=index,columns =columns


)

Writing sample6.csv

In [89]:
import pandas as pd
import numpy as np

UsageError: Line magic function `%%writefile` not found.

In [109]:

data = [    ["1","1","1","1","e9"],
    ["2","3","2","2","e8"],
    ["3","3","3","10","e7"],
    ["4","4","4","4","e5"],
    ["5","5","5","5","e6"],]

data2 = [    [1,1,1,1,1],
    [2,3,2,2,2],
    [3,3,3,10,7],
    [4,4,4,4,5],
    [5,5,5,5,6],]
index = [1,2,3,4,5]
columns = ["a","b","c","d","e"]


df = pd.DataFrame(data,index=index,columns =columns)
df2 = pd.DataFrame(data2,index=index,columns =columns)




df2.mean(axis=1)

1    1.0
2    2.2
3    5.2
4    4.2
5    5.2
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [76]:
df.to_csv('sample6.csv')
df.count()

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [110]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()
titanic[:].count()
np.random.seed(1)
titanic.loc[(titanic['class']=='first')&(titanic.sex=='female')]['age'].mean()

nan

In [ ]:
import pandas as pd
import numpy as np

df3= pd.DataFrame(
    {
        'a':[1,3,4,3,4],
        'b':[1,5,4,13,4],
        'c':[1,3,5,8,2]
    }
)

In [112]:
list1 = list(range(30))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]